<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051697319511-8l7pht9uuu357g0oaueb93irma8ku6k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051697319511-8l7pht9uuu357g0oaueb93irma8ku6k8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1051697319511-pit713behbm8t3dnf5v85c89uv3br4j9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCEJ8W0-BXg39osst8YT91MTZ1C1PLB0uo</string>
	<key>GCM_SENDER_ID</key>
	<string>1051697319511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chitChat</string>
	<key>PROJECT_ID</key>
	<string>chit-chat-1d955</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chat-1d955.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051697319511:ios:be4af449c5d47c7afa1d12</string>
</dict>
</plist>